<div style="text-align:center; margin: 0 auto; width: 50%;">
    <img src="{{ asset('img/pika.gif') }}" class="img-responsive center"/><br />
    <span class="text-big">Niestety strona nie została znaleziona :(</span><br />
    <a href="{{ url('game_index') }}">Powrót do strony głównej</a>
</div>