{% extends ':game:gamebase.html.twig' %}

{% block gamebody %}
    <div class="center text-center">
        <img src="{{ asset('img/pika.gif') }}" class="img-responsive center"/><br />
        <span class="text-big">Niestety strona nie została znaleziona :(</span><br />
        <a href="{{ url('game_index') }}">Powrót do strony głównej</a>
    </div>
{% endblock %}

{% block table %}
{% endblock %}