{% for message in app.flashes('info') %}
    <div class="alert alert-info">
        <span>
            {{ message|raw }}
        </span>
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        <span>
        {{ message|raw }}
        </span>
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        <span>
            {{ message|raw }}
        </span>
    </div>
{% endfor %}
{% for message in app.flashes('info2') %}
    {{ message|raw }}
{% endfor %}