<div class="d_none menu_dr" id="menu_pokemona">
    <ul class="dropdown-menu" id="menu_pokemon_list">
        <li class="dropdown-header dropdown_imie"></li>
        <li class="divider"></li><li class="info kursor"><a>INFO</a></li>
        <li><a class="kursor sala">SALA TRENINGOWA</a></li>
        <li class="nakarm kursor"><a>NAKARM</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">PRZENIEŚ DO:</li>
        <li><a class="przenies_pocz kursor">REZERWY</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">WYLECZ:</li>
        <li><a class="kursor wylecz_centrum">W CENTRUM</a></li>
        <li><a class="kursor wylecz_jagody">JAGODAMI</a></li>
    </ul>
</div>
<div id="__modal" class="modal fade in" role="dialog">
    <div id="_modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span name="_modal" class="modal-title"></span>
            </div>
            <div class="modal-body" name="_modal"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>