@charset "utf-8";
/* CSS Document */
body
{
	background-color:#0BB874;	
	font-family: 'Lato', sans-serif;
}

#content
{
	width:1400px;
	background-color:#6F6F6F;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#logo
{
	width:1360px;
	min-height:300px;
	padding: 20px;
	text-align:center;
	
}

#zawartosc
{
	float:left;
	min-height:600px;
	width:986px;
	padding:20px;
	border: 2px dotted;
	margin-left:5px;
	margin-bottom:25px;

}

#logowanie
{
	text-align:inherit;
	float:left;
	min-height:600px;
	width:296px;
	padding:20px;
	font-size:18px;
	border: 2px dotted;
	margin-left:20px;
	margin-right:5px;
	margin-bottom:25px;
	letter-spacing:2px;

}

#rejestracja
{
	float:left;
	min-height:600px;
	width:296px;
	padding:20px;
	font-size:18px;
	border: 2px dotted;
	margin-left:20px;
	margin-right:5px;
	margin-bottom:25px;
	letter-spacing:2px;

}

#stopka
{	
	background-color:#0A8A4C;
	color:#D3C123;
	text-align:center;
	padding:20px;
	min-height:60px;
	width:auto;
	font-size:20px;
	letter-spacing:3px;
	
}

#zegar
{
	font-size:30px;	
	color:#FFFFFF;
}

.clear
{
	clear:both;	
}