.id_1{ background: url("/../img/poki/min/1.png") 0 0 no-repeat !important;}
.id_2{ background: url("/../img/poki/min/2.png") 0 0 no-repeat !important;}
.id_3{ background: url("/../img/poki/min/3.png") 0 0 no-repeat !important;}
.id_4{ background: url("/../img/poki/min/4.png") 0 0 no-repeat !important;}
.id_5{ background: url("/../img/poki/min/5.png") 0 0 no-repeat !important;}
.id_6{ background: url("/../img/poki/min/6.png") 0 0 no-repeat !important;}
.id_7{ background: url("/../img/poki/min/7.png") 0 0 no-repeat !important;}
.id_8{ background: url("/../img/poki/min/8.png") 0 0 no-repeat !important;}
.id_9{ background: url("/../img/poki/min/9.png") 0 0 no-repeat !important;}
.id_10{ background: url("/../img/poki/min/10.png") 0 0 no-repeat !important;}
.id_11{ background: url("/../img/poki/min/11.png") 0 0 no-repeat !important;}
.id_12{ background: url("/../img/poki/min/12.png") 0 0 no-repeat !important;}
.id_13{ background: url("/../img/poki/min/13.png") 0 0 no-repeat !important;}
.id_14{ background: url("/../img/poki/min/14.png") 0 0 no-repeat !important;}
.id_15{ background: url("/../img/poki/min/15.png") 0 0 no-repeat !important;}
.id_16{ background: url("/../img/poki/min/16.png") 0 0 no-repeat !important;}
.id_17{ background: url("/../img/poki/min/17.png") 0 0 no-repeat !important;}
.id_18{ background: url("/../img/poki/min/18.png") 0 0 no-repeat !important;}
.id_19{ background: url("/../img/poki/min/19.png") 0 0 no-repeat !important;}
.id_20{ background: url("/../img/poki/min/20.png") 0 0 no-repeat !important;}
.id_21{ background: url("/../img/poki/min/21.png") 0 0 no-repeat !important;}
.id_22{ background: url("/../img/poki/min/22.png") 0 0 no-repeat !important;}
.id_23{ background: url("/../img/poki/min/23.png") 0 0 no-repeat !important;}
.id_24{ background: url("/../img/poki/min/24.png") 0 0 no-repeat !important;}
.id_25{ background: url("/../img/poki/min/25.png") 0 0 no-repeat !important;}
.id_26{ background: url("/../img/poki/min/26.png") 0 0 no-repeat !important;}
.id_27{ background: url("/../img/poki/min/27.png") 0 0 no-repeat !important;}
.id_28{ background: url("/../img/poki/min/28.png") 0 0 no-repeat !important;}
.id_29{ background: url("/../img/poki/min/29.png") 0 0 no-repeat !important;}
.id_30{ background: url("/../img/poki/min/30.png") 0 0 no-repeat !important;}
.id_31{ background: url("/../img/poki/min/31.png") 0 0 no-repeat !important;}
.id_32{ background: url("/../img/poki/min/32.png") 0 0 no-repeat !important;}
.id_33{ background: url("/../img/poki/min/33.png") 0 0 no-repeat !important;}
.id_34{ background: url("/../img/poki/min/34.png") 0 0 no-repeat !important;}
.id_35{ background: url("/../img/poki/min/35.png") 0 0 no-repeat !important;}
.id_36{ background: url("/../img/poki/min/36.png") 0 0 no-repeat !important;}
.id_37{ background: url("/../img/poki/min/37.png") 0 0 no-repeat !important;}
.id_38{ background: url("/../img/poki/min/38.png") 0 0 no-repeat !important;}
.id_39{ background: url("/../img/poki/min/39.png") 0 0 no-repeat !important;}
.id_40{ background: url("/../img/poki/min/40.png") 0 0 no-repeat !important;}
.id_41{ background: url("/../img/poki/min/41.png") 0 0 no-repeat !important;}
.id_42{ background: url("/../img/poki/min/42.png") 0 0 no-repeat !important;}
.id_43{ background: url("/../img/poki/min/43.png") 0 0 no-repeat !important;}
.id_44{ background: url("/../img/poki/min/44.png") 0 0 no-repeat !important;}
.id_45{ background: url("/../img/poki/min/45.png") 0 0 no-repeat !important;}
.id_46{ background: url("/../img/poki/min/46.png") 0 0 no-repeat !important;}
.id_47{ background: url("/../img/poki/min/47.png") 0 0 no-repeat !important;}
.id_48{ background: url("/../img/poki/min/48.png") 0 0 no-repeat !important;}
.id_49{ background: url("/../img/poki/min/49.png") 0 0 no-repeat !important;}
.id_50{ background: url("/../img/poki/min/50.png") 0 0 no-repeat !important;}
.id_51{ background: url("/../img/poki/min/51.png") 0 0 no-repeat !important;}
.id_52{ background: url("/../img/poki/min/52.png") 0 0 no-repeat !important;}
.id_53{ background: url("/../img/poki/min/53.png") 0 0 no-repeat !important;}
.id_54{ background: url("/../img/poki/min/54.png") 0 0 no-repeat !important;}
.id_55{ background: url("/../img/poki/min/55.png") 0 0 no-repeat !important;}
.id_56{ background: url("/../img/poki/min/56.png") 0 0 no-repeat !important;}
.id_57{ background: url("/../img/poki/min/57.png") 0 0 no-repeat !important;}
.id_58{ background: url("/../img/poki/min/58.png") 0 0 no-repeat !important;}
.id_59{ background: url("/../img/poki/min/59.png") 0 0 no-repeat !important;}
.id_60{ background: url("/../img/poki/min/60.png") 0 0 no-repeat !important;}
.id_61{ background: url("/../img/poki/min/61.png") 0 0 no-repeat !important;}
.id_62{ background: url("/../img/poki/min/62.png") 0 0 no-repeat !important;}
.id_63{ background: url("/../img/poki/min/63.png") 0 0 no-repeat !important;}
.id_64{ background: url("/../img/poki/min/64.png") 0 0 no-repeat !important;}
.id_65{ background: url("/../img/poki/min/65.png") 0 0 no-repeat !important;}
.id_66{ background: url("/../img/poki/min/66.png") 0 0 no-repeat !important;}
.id_67{ background: url("/../img/poki/min/67.png") 0 0 no-repeat !important;}
.id_68{ background: url("/../img/poki/min/68.png") 0 0 no-repeat !important;}
.id_69{ background: url("/../img/poki/min/69.png") 0 0 no-repeat !important;}
.id_70{ background: url("/../img/poki/min/70.png") 0 0 no-repeat !important;}
.id_71{ background: url("/../img/poki/min/71.png") 0 0 no-repeat !important;}
.id_72{ background: url("/../img/poki/min/72.png") 0 0 no-repeat !important;}
.id_73{ background: url("/../img/poki/min/73.png") 0 0 no-repeat !important;}
.id_74{ background: url("/../img/poki/min/74.png") 0 0 no-repeat !important;}
.id_75{ background: url("/../img/poki/min/75.png") 0 0 no-repeat !important;}
.id_76{ background: url("/../img/poki/min/76.png") 0 0 no-repeat !important;}
.id_77{ background: url("/../img/poki/min/77.png") 0 0 no-repeat !important;}
.id_78{ background: url("/../img/poki/min/78.png") 0 0 no-repeat !important;}
.id_79{ background: url("/../img/poki/min/79.png") 0 0 no-repeat !important;}
.id_80{ background: url("/../img/poki/min/80.png") 0 0 no-repeat !important;}
.id_81{ background: url("/../img/poki/min/81.png") 0 0 no-repeat !important;}
.id_82{ background: url("/../img/poki/min/82.png") 0 0 no-repeat !important;}
.id_83{ background: url("/../img/poki/min/83.png") 0 0 no-repeat !important;}
.id_84{ background: url("/../img/poki/min/84.png") 0 0 no-repeat !important;}
.id_85{ background: url("/../img/poki/min/85.png") 0 0 no-repeat !important;}
.id_86{ background: url("/../img/poki/min/86.png") 0 0 no-repeat !important;}
.id_87{ background: url("/../img/poki/min/87.png") 0 0 no-repeat !important;}
.id_88{ background: url("/../img/poki/min/88.png") 0 0 no-repeat !important;}
.id_89{ background: url("/../img/poki/min/89.png") 0 0 no-repeat !important;}
.id_90{ background: url("/../img/poki/min/90.png") 0 0 no-repeat !important;}
.id_91{ background: url("/../img/poki/min/91.png") 0 0 no-repeat !important;}
.id_92{ background: url("/../img/poki/min/92.png") 0 0 no-repeat !important;}
.id_93{ background: url("/../img/poki/min/93.png") 0 0 no-repeat !important;}
.id_94{ background: url("/../img/poki/min/94.png") 0 0 no-repeat !important;}
.id_95{ background: url("/../img/poki/min/95.png") 0 0 no-repeat !important;}
.id_96{ background: url("/../img/poki/min/96.png") 0 0 no-repeat !important;}
.id_97{ background: url("/../img/poki/min/97.png") 0 0 no-repeat !important;}
.id_98{ background: url("/../img/poki/min/98.png") 0 0 no-repeat !important;}
.id_99{ background: url("/../img/poki/min/99.png") 0 0 no-repeat !important;}
.id_100{ background: url("/../img/poki/min/100.png") 0 0 no-repeat !important;}
.id_101{ background: url("/../img/poki/min/101.png") 0 0 no-repeat !important;}
.id_102{ background: url("/../img/poki/min/102.png") 0 0 no-repeat !important;}
.id_103{ background: url("/../img/poki/min/103.png") 0 0 no-repeat !important;}
.id_104{ background: url("/../img/poki/min/104.png") 0 0 no-repeat !important;}
.id_105{ background: url("/../img/poki/min/105.png") 0 0 no-repeat !important;}
.id_106{ background: url("/../img/poki/min/106.png") 0 0 no-repeat !important;}
.id_107{ background: url("/../img/poki/min/107.png") 0 0 no-repeat !important;}
.id_108{ background: url("/../img/poki/min/108.png") 0 0 no-repeat !important;}
.id_109{ background: url("/../img/poki/min/109.png") 0 0 no-repeat !important;}
.id_110{ background: url("/../img/poki/min/110.png") 0 0 no-repeat !important;}
.id_111{ background: url("/../img/poki/min/111.png") 0 0 no-repeat !important;}
.id_112{ background: url("/../img/poki/min/112.png") 0 0 no-repeat !important;}
.id_113{ background: url("/../img/poki/min/113.png") 0 0 no-repeat !important;}
.id_114{ background: url("/../img/poki/min/114.png") 0 0 no-repeat !important;}
.id_115{ background: url("/../img/poki/min/115.png") 0 0 no-repeat !important;}
.id_116{ background: url("/../img/poki/min/116.png") 0 0 no-repeat !important;}
.id_117{ background: url("/../img/poki/min/117.png") 0 0 no-repeat !important;}
.id_118{ background: url("/../img/poki/min/118.png") 0 0 no-repeat !important;}
.id_119{ background: url("/../img/poki/min/119.png") 0 0 no-repeat !important;}
.id_120{ background: url("/../img/poki/min/120.png") 0 0 no-repeat !important;}
.id_121{ background: url("/../img/poki/min/121.png") 0 0 no-repeat !important;}
.id_122{ background: url("/../img/poki/min/122.png") 0 0 no-repeat !important;}
.id_123{ background: url("/../img/poki/min/123.png") 0 0 no-repeat !important;}
.id_124{ background: url("/../img/poki/min/124.png") 0 0 no-repeat !important;}
.id_125{ background: url("/../img/poki/min/125.png") 0 0 no-repeat !important;}
.id_126{ background: url("/../img/poki/min/126.png") 0 0 no-repeat !important;}
.id_127{ background: url("/../img/poki/min/127.png") 0 0 no-repeat !important;}
.id_128{ background: url("/../img/poki/min/128.png") 0 0 no-repeat !important;}
.id_129{ background: url("/../img/poki/min/129.png") 0 0 no-repeat !important;}
.id_130{ background: url("/../img/poki/min/130.png") 0 0 no-repeat !important;}
.id_131{ background: url("/../img/poki/min/131.png") 0 0 no-repeat !important;}
.id_132{ background: url("/../img/poki/min/132.png") 0 0 no-repeat !important;}
.id_133{ background: url("/../img/poki/min/133.png") 0 0 no-repeat !important;}
.id_134{ background: url("/../img/poki/min/134.png") 0 0 no-repeat !important;}
.id_135{ background: url("/../img/poki/min/135.png") 0 0 no-repeat !important;}
.id_136{ background: url("/../img/poki/min/136.png") 0 0 no-repeat !important;}
.id_137{ background: url("/../img/poki/min/137.png") 0 0 no-repeat !important;}
.id_138{ background: url("/../img/poki/min/138.png") 0 0 no-repeat !important;}
.id_139{ background: url("/../img/poki/min/139.png") 0 0 no-repeat !important;}
.id_140{ background: url("/../img/poki/min/140.png") 0 0 no-repeat !important;}
.id_141{ background: url("/../img/poki/min/141.png") 0 0 no-repeat !important;}
.id_142{ background: url("/../img/poki/min/142.png") 0 0 no-repeat !important;}
.id_143{ background: url("/../img/poki/min/143.png") 0 0 no-repeat !important;}
.id_144{ background: url("/../img/poki/min/144.png") 0 0 no-repeat !important;}
.id_145{ background: url("/../img/poki/min/145.png") 0 0 no-repeat !important;}
.id_146{ background: url("/../img/poki/min/146.png") 0 0 no-repeat !important;}
.id_147{ background: url("/../img/poki/min/147.png") 0 0 no-repeat !important;}
.id_148{ background: url("/../img/poki/min/148.png") 0 0 no-repeat !important;}
.id_149{ background: url("/../img/poki/min/149.png") 0 0 no-repeat !important;}
.id_150{ background: url("/../img/poki/min/150.png") 0 0 no-repeat !important;}
.id_151{ background: url("/../img/poki/min/151.png") 0 0 no-repeat !important;}
.id_s1{ background: url("/../img/poki/min/s1.png") 0 0 no-repeat !important;}
.id_s2{ background: url("/../img/poki/min/s2.png") 0 0 no-repeat !important;}
.id_s3{ background: url("/../img/poki/min/s3.png") 0 0 no-repeat !important;}
.id_s4{ background: url("/../img/poki/min/s4.png") 0 0 no-repeat !important;}
.id_s5{ background: url("/../img/poki/min/s5.png") 0 0 no-repeat !important;}
.id_s6{ background: url("/../img/poki/min/s6.png") 0 0 no-repeat !important;}
.id_s7{ background: url("/../img/poki/min/s7.png") 0 0 no-repeat !important;}
.id_s8{ background: url("/../img/poki/min/s8.png") 0 0 no-repeat !important;}
.id_s9{ background: url("/../img/poki/min/s9.png") 0 0 no-repeat !important;}
.id_s10{ background: url("/../img/poki/min/s10.png") 0 0 no-repeat !important;}
.id_s11{ background: url("/../img/poki/min/s11.png") 0 0 no-repeat !important;}
.id_s12{ background: url("/../img/poki/min/s12.png") 0 0 no-repeat !important;}
.id_s13{ background: url("/../img/poki/min/s13.png") 0 0 no-repeat !important;}
.id_s14{ background: url("/../img/poki/min/s14.png") 0 0 no-repeat !important;}
.id_s15{ background: url("/../img/poki/min/s15.png") 0 0 no-repeat !important;}
.id_s16{ background: url("/../img/poki/min/s16.png") 0 0 no-repeat !important;}
.id_s17{ background: url("/../img/poki/min/s17.png") 0 0 no-repeat !important;}
.id_s18{ background: url("/../img/poki/min/s18.png") 0 0 no-repeat !important;}
.id_s19{ background: url("/../img/poki/min/s19.png") 0 0 no-repeat !important;}
.id_s20{ background: url("/../img/poki/min/s20.png") 0 0 no-repeat !important;}
.id_s21{ background: url("/../img/poki/min/s21.png") 0 0 no-repeat !important;}
.id_s22{ background: url("/../img/poki/min/s22.png") 0 0 no-repeat !important;}
.id_s23{ background: url("/../img/poki/min/s23.png") 0 0 no-repeat !important;}
.id_s24{ background: url("/../img/poki/min/s24.png") 0 0 no-repeat !important;}
.id_s25{ background: url("/../img/poki/min/s25.png") 0 0 no-repeat !important;}
.id_s26{ background: url("/../img/poki/min/s26.png") 0 0 no-repeat !important;}
.id_s27{ background: url("/../img/poki/min/s27.png") 0 0 no-repeat !important;}
.id_s28{ background: url("/../img/poki/min/s28.png") 0 0 no-repeat !important;}
.id_s29{ background: url("/../img/poki/min/s29.png") 0 0 no-repeat !important;}
.id_s30{ background: url("/../img/poki/min/s30.png") 0 0 no-repeat !important;}
.id_s31{ background: url("/../img/poki/min/s31.png") 0 0 no-repeat !important;}
.id_s32{ background: url("/../img/poki/min/s32.png") 0 0 no-repeat !important;}
.id_s33{ background: url("/../img/poki/min/s33.png") 0 0 no-repeat !important;}
.id_s34{ background: url("/../img/poki/min/s34.png") 0 0 no-repeat !important;}
.id_s35{ background: url("/../img/poki/min/s35.png") 0 0 no-repeat !important;}
.id_s36{ background: url("/../img/poki/min/s36.png") 0 0 no-repeat !important;}
.id_s37{ background: url("/../img/poki/min/s37.png") 0 0 no-repeat !important;}
.id_s38{ background: url("/../img/poki/min/s38.png") 0 0 no-repeat !important;}
.id_s39{ background: url("/../img/poki/min/s39.png") 0 0 no-repeat !important;}
.id_s40{ background: url("/../img/poki/min/s40.png") 0 0 no-repeat !important;}
.id_s41{ background: url("/../img/poki/min/s41.png") 0 0 no-repeat !important;}
.id_s42{ background: url("/../img/poki/min/s42.png") 0 0 no-repeat !important;}
.id_s43{ background: url("/../img/poki/min/s43.png") 0 0 no-repeat !important;}
.id_s44{ background: url("/../img/poki/min/s44.png") 0 0 no-repeat !important;}
.id_s45{ background: url("/../img/poki/min/s45.png") 0 0 no-repeat !important;}
.id_s46{ background: url("/../img/poki/min/s46.png") 0 0 no-repeat !important;}
.id_s47{ background: url("/../img/poki/min/s47.png") 0 0 no-repeat !important;}
.id_s48{ background: url("/../img/poki/min/s48.png") 0 0 no-repeat !important;}
.id_s49{ background: url("/../img/poki/min/s49.png") 0 0 no-repeat !important;}
.id_s50{ background: url("/../img/poki/min/s50.png") 0 0 no-repeat !important;}
.id_s51{ background: url("/../img/poki/min/s51.png") 0 0 no-repeat !important;}
.id_s52{ background: url("/../img/poki/min/s52.png") 0 0 no-repeat !important;}
.id_s53{ background: url("/../img/poki/min/s53.png") 0 0 no-repeat !important;}
.id_s54{ background: url("/../img/poki/min/s54.png") 0 0 no-repeat !important;}
.id_s55{ background: url("/../img/poki/min/s55.png") 0 0 no-repeat !important;}
.id_s56{ background: url("/../img/poki/min/s56.png") 0 0 no-repeat !important;}
.id_s57{ background: url("/../img/poki/min/s57.png") 0 0 no-repeat !important;}
.id_s58{ background: url("/../img/poki/min/s58.png") 0 0 no-repeat !important;}
.id_s59{ background: url("/../img/poki/min/s59.png") 0 0 no-repeat !important;}
.id_s60{ background: url("/../img/poki/min/s60.png") 0 0 no-repeat !important;}
.id_s61{ background: url("/../img/poki/min/s61.png") 0 0 no-repeat !important;}
.id_s62{ background: url("/../img/poki/min/s62.png") 0 0 no-repeat !important;}
.id_s63{ background: url("/../img/poki/min/s63.png") 0 0 no-repeat !important;}
.id_s64{ background: url("/../img/poki/min/s64.png") 0 0 no-repeat !important;}
.id_s65{ background: url("/../img/poki/min/s65.png") 0 0 no-repeat !important;}
.id_s66{ background: url("/../img/poki/min/s66.png") 0 0 no-repeat !important;}
.id_s67{ background: url("/../img/poki/min/s67.png") 0 0 no-repeat !important;}
.id_s68{ background: url("/../img/poki/min/s68.png") 0 0 no-repeat !important;}
.id_s69{ background: url("/../img/poki/min/s69.png") 0 0 no-repeat !important;}
.id_s70{ background: url("/../img/poki/min/s70.png") 0 0 no-repeat !important;}
.id_s71{ background: url("/../img/poki/min/s71.png") 0 0 no-repeat !important;}
.id_s72{ background: url("/../img/poki/min/s72.png") 0 0 no-repeat !important;}
.id_s73{ background: url("/../img/poki/min/s73.png") 0 0 no-repeat !important;}
.id_s74{ background: url("/../img/poki/min/s74.png") 0 0 no-repeat !important;}
.id_s75{ background: url("/../img/poki/min/s75.png") 0 0 no-repeat !important;}
.id_s76{ background: url("/../img/poki/min/s76.png") 0 0 no-repeat !important;}
.id_s77{ background: url("/../img/poki/min/s77.png") 0 0 no-repeat !important;}
.id_s78{ background: url("/../img/poki/min/s78.png") 0 0 no-repeat !important;}
.id_s79{ background: url("/../img/poki/min/s79.png") 0 0 no-repeat !important;}
.id_s80{ background: url("/../img/poki/min/s80.png") 0 0 no-repeat !important;}
.id_s81{ background: url("/../img/poki/min/s81.png") 0 0 no-repeat !important;}
.id_s82{ background: url("/../img/poki/min/s82.png") 0 0 no-repeat !important;}
.id_s83{ background: url("/../img/poki/min/s83.png") 0 0 no-repeat !important;}
.id_s84{ background: url("/../img/poki/min/s84.png") 0 0 no-repeat !important;}
.id_s85{ background: url("/../img/poki/min/s85.png") 0 0 no-repeat !important;}
.id_s86{ background: url("/../img/poki/min/s86.png") 0 0 no-repeat !important;}
.id_s87{ background: url("/../img/poki/min/s87.png") 0 0 no-repeat !important;}
.id_s88{ background: url("/../img/poki/min/s88.png") 0 0 no-repeat !important;}
.id_s89{ background: url("/../img/poki/min/s89.png") 0 0 no-repeat !important;}
.id_s90{ background: url("/../img/poki/min/s90.png") 0 0 no-repeat !important;}
.id_s91{ background: url("/../img/poki/min/s91.png") 0 0 no-repeat !important;}
.id_s92{ background: url("/../img/poki/min/s92.png") 0 0 no-repeat !important;}
.id_s93{ background: url("/../img/poki/min/s93.png") 0 0 no-repeat !important;}
.id_s94{ background: url("/../img/poki/min/s94.png") 0 0 no-repeat !important;}
.id_s95{ background: url("/../img/poki/min/s95.png") 0 0 no-repeat !important;}
.id_s96{ background: url("/../img/poki/min/s96.png") 0 0 no-repeat !important;}
.id_s97{ background: url("/../img/poki/min/s97.png") 0 0 no-repeat !important;}
.id_s98{ background: url("/../img/poki/min/s98.png") 0 0 no-repeat !important;}
.id_s99{ background: url("/../img/poki/min/s99.png") 0 0 no-repeat !important;}
.id_s100{ background: url("/../img/poki/min/s100.png") 0 0 no-repeat !important;}
.id_s101{ background: url("/../img/poki/min/s101.png") 0 0 no-repeat !important;}
.id_s102{ background: url("/../img/poki/min/s102.png") 0 0 no-repeat !important;}
.id_s103{ background: url("/../img/poki/min/s103.png") 0 0 no-repeat !important;}
.id_s104{ background: url("/../img/poki/min/s104.png") 0 0 no-repeat !important;}
.id_s105{ background: url("/../img/poki/min/s105.png") 0 0 no-repeat !important;}
.id_s106{ background: url("/../img/poki/min/s106.png") 0 0 no-repeat !important;}
.id_s107{ background: url("/../img/poki/min/s107.png") 0 0 no-repeat !important;}
.id_s108{ background: url("/../img/poki/min/s108.png") 0 0 no-repeat !important;}
.id_s109{ background: url("/../img/poki/min/s109.png") 0 0 no-repeat !important;}
.id_s110{ background: url("/../img/poki/min/s110.png") 0 0 no-repeat !important;}
.id_s111{ background: url("/../img/poki/min/s111.png") 0 0 no-repeat !important;}
.id_s112{ background: url("/../img/poki/min/s112.png") 0 0 no-repeat !important;}
.id_s113{ background: url("/../img/poki/min/s113.png") 0 0 no-repeat !important;}
.id_s114{ background: url("/../img/poki/min/s114.png") 0 0 no-repeat !important;}
.id_s115{ background: url("/../img/poki/min/s115.png") 0 0 no-repeat !important;}
.id_s116{ background: url("/../img/poki/min/s116.png") 0 0 no-repeat !important;}
.id_s117{ background: url("/../img/poki/min/s117.png") 0 0 no-repeat !important;}
.id_s118{ background: url("/../img/poki/min/s118.png") 0 0 no-repeat !important;}
.id_s119{ background: url("/../img/poki/min/s119.png") 0 0 no-repeat !important;}
.id_s120{ background: url("/../img/poki/min/s120.png") 0 0 no-repeat !important;}
.id_s121{ background: url("/../img/poki/min/s121.png") 0 0 no-repeat !important;}
.id_s122{ background: url("/../img/poki/min/s122.png") 0 0 no-repeat !important;}
.id_s123{ background: url("/../img/poki/min/s123.png") 0 0 no-repeat !important;}
.id_s124{ background: url("/../img/poki/min/s124.png") 0 0 no-repeat !important;}
.id_s125{ background: url("/../img/poki/min/s125.png") 0 0 no-repeat !important;}
.id_s126{ background: url("/../img/poki/min/s126.png") 0 0 no-repeat !important;}
.id_s127{ background: url("/../img/poki/min/s127.png") 0 0 no-repeat !important;}
.id_s128{ background: url("/../img/poki/min/s128.png") 0 0 no-repeat !important;}
.id_s129{ background: url("/../img/poki/min/s129.png") 0 0 no-repeat !important;}
.id_s130{ background: url("/../img/poki/min/s130.png") 0 0 no-repeat !important;}
.id_s131{ background: url("/../img/poki/min/s131.png") 0 0 no-repeat !important;}
.id_s132{ background: url("/../img/poki/min/s132.png") 0 0 no-repeat !important;}
.id_s133{ background: url("/../img/poki/min/s133.png") 0 0 no-repeat !important;}
.id_s134{ background: url("/../img/poki/min/s134.png") 0 0 no-repeat !important;}
.id_s135{ background: url("/../img/poki/min/s135.png") 0 0 no-repeat !important;}
.id_s136{ background: url("/../img/poki/min/s136.png") 0 0 no-repeat !important;}
.id_s137{ background: url("/../img/poki/min/s137.png") 0 0 no-repeat !important;}
.id_s138{ background: url("/../img/poki/min/s138.png") 0 0 no-repeat !important;}
.id_s139{ background: url("/../img/poki/min/s139.png") 0 0 no-repeat !important;}
.id_s140{ background: url("/../img/poki/min/s140.png") 0 0 no-repeat !important;}
.id_s141{ background: url("/../img/poki/min/s141.png") 0 0 no-repeat !important;}
.id_s142{ background: url("/../img/poki/min/s142.png") 0 0 no-repeat !important;}
.id_s143{ background: url("/../img/poki/min/s143.png") 0 0 no-repeat !important;}
.id_s144{ background: url("/../img/poki/min/s144.png") 0 0 no-repeat !important;}
.id_s145{ background: url("/../img/poki/min/s145.png") 0 0 no-repeat !important;}
.id_s146{ background: url("/../img/poki/min/s146.png") 0 0 no-repeat !important;}
.id_s147{ background: url("/../img/poki/min/s147.png") 0 0 no-repeat !important;}
.id_s148{ background: url("/../img/poki/min/s148.png") 0 0 no-repeat !important;}
.id_s149{ background: url("/../img/poki/min/s149.png") 0 0 no-repeat !important;}
.id_s150{ background: url("/../img/poki/min/s150.png") 0 0 no-repeat !important;}
.id_s151{ background: url("/../img/poki/min/s151.png") 0 0 no-repeat !important;}