@import "fontello.css";
html
{
    height:100%;
}
body
{
	/*background: #000000 url("../img/tlo.jpg") no-repeat 0px 0px fixed;*/
  	background-size: cover;
        -moz-background-size: cover;
	margin:0 !important;
	padding:0 !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 16px;
	color:white;
	font-weight: 200;
        height:100%;
}
#menu_div
{
        width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:100;
}
.container-fluid
{
	background-color: #1c5b4e;/*wcześniejszy: #4c4c4c*/
	box-shadow: 0 0 5px black;
	min-height:100%;
    height:auto !important;
    color:white;
}
#lewo
{
    padding-top:65px;
    padding-bottom:65px;
}
#prawo
{
    padding-top:70px;
    padding-bottom:70px;
}
.footer
{
	background-color: rgba(0, 0, 0, 0.9);
	color:white;
	text-align:center;
	width:100%;
	font-size:14px;
	letter-spacing:2px;
	margin-left:auto;
	margin-right:auto;
	position:fixed;
	left:0;
	bottom:0;
	z-index:100;
}
.pogrubienie
{
    font-weight: bold;
}
.well-stan 
{
    font-size:16px;
    padding:5px;
    margin:4px;
}
#tabela_poki, #tabela_gracz
{
    margin-top:15px;
}
.tabela_info
{
    margin-left:7px;
    width:95%;
    font-size:16px;
    margin-top:20px;
    color:white;/*#F25757*/
}
.border_shadow
{
    box-shadow:-4px 4px 4px #000;
}
.info_jeden
{
	height:30px;
	margin-bottom:2px;
}
.info_dwa
{
	height:20px;
	margin-bottom:2px;
}
.tabela_info_lewo
{
	text-align:left;
	float:left;
	padding: 4px 0 0 4px;
	font-weight:400;
}
.tabela_info_prawo
{
	text-align:right;
	float:right;
	padding: 4px 4px 0 0;
	width:auto;
}
.tabela_info_srodek
{
	padding-left:5px;
	width:auto;
	overflow:hidden;
	text-align:center;
}
.tabela_info_img
{
	margin-top:8px;
	width: 50px;
	height: 50px;
}
.kursor:hover
{
	cursor:pointer;
}
.clear
{
	clear: both;
}
#clock
{
	margin-top:20px;
	padding-left:20px;
	font-size:22px;
	color:#DDDDDD;
}
h4
{
	margin-top:20px;
	text-align:center;
	padding:5px 0;
	font-weight: 100;
	color: #FFFFFF;
	font-size: 17px;
	background: url("../img/bg3.png") repeat scroll 0 0 dodgerblue;
}
.tabela_dwa_pokemon
{
	width:99%;
	margin: 0 auto;
}
label
{
    display: block;
    margin:0;
}
.karta
{
	margin-top:25px;
	color:white;
	background:#111;
}
#wyszukiwarka
{
        margin: 0 0 75px 15px;
}
h5
{
	margin:15px 0 10px 7px;
	width:95%;
	text-align:center;
	padding:5px 0;
	font-weight: 100;
	color: #FFFFFF;
	font-size: 14px;
	background: url("../img/bg3.png") repeat scroll 0 0 dodgerblue;
}
.statystyki
{
	width:auto;
	height:35px;
	padding-top:3px;
	padding-left:5px;
	vertical-align: middle;
	margin-left:5px;
	margin-right:5px;

}
.d_none
{
    display:none;
}
.noborder
{
    border:none;
}
.nopadding
{
    padding:0 !important;
}
.nomargin 
{
    margin:0 !important;
}
.panel-primary > .panel-heading, .panel-success > .panel-heading
{
    padding:10px 15px;
}
.progress-gra
{
    margin:4px;
}
.prog_HP
{
    background: url("../img/bg3.png") repeat scroll 0 0 #FFBABA;
}
.prog_EXP
{
    background: url("../img/bg3.png") repeat scroll 0 0 #AEF5C1;
}
.prog_M
{
    background: url("../img/bg3.png") repeat scroll 0 0 #ADD7FF;
}
.prog_Z
{
    background: url("../img/bg3.png") repeat scroll 0 0 #E9FFAD;
}
.progress
{
    position: relative;
}
.progress2
{
    margin: 4px;
    height: 30px;
}
.progress span
{
    font-family: "Helvetica" !important;
    font-weight: 600;
    position: absolute;
    display: block;
    width: 100%;
    color: black !important;
    left: 0;
    right: 0;
}
.progress > .progBarHP
{
	background: url("../img/bg3.png") repeat scroll 0 0 #FF1F1F;
}
.progress > .progBarEXP
{
	background: url("../img/bg3.png") repeat scroll 0 0 #0AC43C;
}
.progress > .progBarM
{
	background: url("../img/bg3.png") repeat scroll 0 0 #0C81F2;
}
.progress > .progBarZ
{
	background: url("../img/bg3.png") repeat scroll 0 0 #BEC40A;
}
.line30
{
    line-height: 30px;
}
.line50
{
    line-height: 50px;
}
.stan
{
    float:left;
    max-width:60px;
    width:60px;
}
.stan2
{
    font-size:15px;
    color:white;
    font-weight:600;
    width:100%;
}
DIV.table 
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}
.kolekcja_img, .lecznica_img
{
    width:80px;
    height:80px;
}
.padding_lr
{
    padding-left:10px;
    padding-right:10px;
}
.padding
{
    padding:10px;
}
.padding_small
{
    padding:5px;
}
.padding_2
{
    padding:2px;
}
.padding_top
{
    padding-top:10px;
}
.margin_2
{
    margin:2px;
}
.margin_lr
{
    margin-left:10px;
    margin-right:10px;
}
.margin_left
{
    margin-left:10px;
}
.margin_bottom
{
    margin-bottom:10px;
}
.kolekcja, .leczenie
{
    padding:5px 0;
}
.text-small
{
    font-size:14px;
}
.text-medium
{
    font-size:20px;
}
.text-big
{
    font-size: 24px;
}
.panel
{
    padding-bottom: 10px;
}
.menu_pok
{
    margin-top:10px;
    padding:3px;
    width:30px;
    height:30px;
    float:left;
}
.shiny_tlo
{
    background-color:rgba(33, 156, 57, 0.5);
}
.polowanie_img
{
    height:150px;
    width:150px;
}
.span_nazwa
{
    font-weight: bold; 
    color:#FF4040
}
.polowanie_trudnosc
{
    margin-top:5px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    color:#000;
    display:inline-block;
}
.zielony-tlo
{
    background:#2BED05;
}
.zolty-tlo
{
    background:#EDE905;
}
.czerwony-tlo
{
    background:#ED0505;
}
.polowanie_pokedex
{
    width:60px;
    height:45px;
}
.width100
{
    width:100%;
}
.padding_button_walka
{
    padding:4px;
}
.alert-info span, .alert-success span, .alert-danger span, .alert-warning span, .panel-heading span
{
    color:white;
}
.dzicz_img
{
	padding:3px;
}
.margin-top
{
    margin-top:10px;
}
.margin-top-big
{
    margin-top:25px;
}
.margin-bottom
{
    margin-bottom:10px;
}
.modal
{
    color:#000;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item 
{
    padding: 0.5em 0 0.5em 3em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon 
{
    height: 30px;
    width: 30px;
    top: 3px;
}
.ui-front
{
    z-index:1051 !important;
}
label 
{
  display: block;
}
select 
{
  width: 200px;
}
.img_walka
{
    width:100%;
}
.zielony
{
    color:#99ff00  !important;
}
.zielony_g
{
    color:#37F51D !important;
}
.czerwony
{
    color:#cc0000 !important;
}
.zolty
{
    color:#FFD900 !important;
}
.niebieski
{
    color:#1847FF !important;
}
.zloty
{
    color:#FFD700 !important;
}
.center
{
    margin: 0 auto;
}
.kursywa
{
    font-style: italic;
}
.panel-heading
{
    margin-bottom:10px;
}
ul.nav
{
    margin-bottom:10px;
}
.panel.panel-success
{
    border-color:#5cb85c;
}
#dzicz_panel, .panel_uc
{
    text-transform: uppercase;
}
input[type=text]
{
    color:black;
}
.targ-line
{
    line-height: 82px;
}
.targ_pok
{
    max-width:80px;
}
.raport-line
{
    line-height:50px;
}
.btn-lvl
{
    border-radius: 15px;
    height:28px;
    width:28px;
    position:absolute;
    z-index:10000;
    left:0;
    line-height:100%;
    padding: 5px 3px 0px 3px;
}
.alert-runda
{
    background-color:rgba(140, 114, 203, 0.45);
    border-color:#8C72CB;
}
.trener_img
{
    max-width:55px;
    max-height:55px;
    padding:2px;
}
.avatar
{
    width:250px;
    height:300px;
}
th.center
{
    text-align:center;
}
.wysibb
{
    color:#000;
    font-size: 16px !important;
}
.pok-tab
{
    max-width:70px !important;
    height: auto;
}
.pok-tab-a
{
    padding:0 !important;
}
.c-black
{
    color: #000;
}
.wysibb-body
{
    height:110px !important;
}
.lider > span > span
{
    display:block;
}
div.scroll
{
    display:block;
    max-height:450px;
    height:auto;
    overflow-y: scroll;
    width:100%;
}
.width-75
{
    min-width:1%;
    max-width:75%;
    width:auto;
    margin-bottom:5px;
    padding:5px;
    border-radius: 5px;
}
.twoja-wiadomosc
{
    background-color:brown;
}
.nadawca-wiadomosc
{
    background-color:green;
}
textarea.odpisz
{
    margin-top:5px;
    width:100%;
    background-color: rgba(0,0,0, 0.75);
    color:white;
}
.pusta
{
    min-height:20px;
    background-color: red;
    display: block;
}
.wiad
{
    width:100%;
    display: block;
    min-height:20px;
    word-wrap:break-word;
}
.atak
{
    width:60%;
    text-align: left;
}
.menu_dr
{
    position: fixed;
    z-index:1000;
}
.modal-header
{
    text-transform: uppercase;
    text-align: center;
}
.dropdown_imie
{
    text-align:center;
}
.row-centered 
{
    text-align:center;
}
.col-centered 
{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.pokeball
{
    margin: 5px;
}
.btn-link
{
    color:#99ff00;
    margin-top:-5px;
}
.pokeball_min
{
    height:30px;
    width:30px;
}
.pochylenie
{
    font-style: italic;
}
.alert
{
    text-align: center;
}
.walka_pok_img
{
    width:125px;
    height:125px;
}
.polowanie_wlasny_pok
{
    margin-right:20px;
}
.pokeball_img
{
    width:70px;
    height:70px;
}
.walka_alert
{
    margin:2px;
    padding:2px;
    padding-left:10px;
    text-align: left;
}
.text-center-alert
{
    text-align: center !important;
}
.color-white
{
    color:white;
}

.footer-img {
    width: 40px;
    height: 40px;
}